
* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

:root {
    --primary:
    --secondary:
    --tertiary: 
}

/* change the color of text to head section */

/* top hero section */

.hero hero-body {
    color:black;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position:-webkit-sticky; 
}

.title1 {
    color:black;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    padding-top: 15px;
}
.title {
   color:black;
   text-align: left;
}


/* search bar and button */
.level-item {
    justify-content: right;
    display: flex;
    flex-wrap:wrap;
}


/* make the larger section a bit smaller */

/* large section */
.section is-large {
   height: 150px;
}

/* Holiday Section */
.tile is-ancestor {

}

/* Search History */
.tile is-child box {

}

/* Calendar Section */
.tile is-parent {

}


/* Footer */
.footer {
    background-color:#5CACEE;
    font-weight: bold;
    font-size: 40px;
    height:50px;
    text-align: center;
}