* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

:root {
    --primary:
    --secondary:
    --tertiary: 
}

.title {
    color: black;
    font-weight: bold;
}

.footer p {
    font-weight: bold;
    ;
}


/* make the larger section a bit smaller */

/* move search bar to the right side */

/* change the color of text to head section */

/* make space for the calendar and other sections in html*/

/* change the color of the footer */

/* change text to bold in footer */