* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

:root {
    --primary:
    --secondary:
    --tertiary: 
}

/* change the color of text to head section */

/* top hero section */

.hero is-info {

}

.title {
   color: black;
}

/* move search bar to the right side */

/* search bar and button */
.level-item {
    justify-content: right;
}


/* make the larger section a bit smaller */

/* large section */
.section is-large {
   max-height: ;
}

/* Holiday Section */
.tile is-ancestor {

}

/* Search History */
.tile is-child box {

}

/* Calendar Section */
.tile is-parent {

}

/* change the color of the footer */

/* change text to bold in footer */

/* Footer */
.footer {
    background-color: #1778ee;  /* not sure if this blue matches the top*/
    font-weight: bold;
}












